// Fonction pour ajuster la luminosité
@function adjust-color($color, $amount) {
    @if ($amount > 0) {
        @return mix(white, $color, $amount * 100%);
    }

    @else {
        @return mix(black, $color, -$amount * 100%);
    }
}

// Mixin pour ajuster les couleurs de la carte
@mixin card-styles($main-color) {
    $card-border-color: $main-color;
    $card-bg-color: adjust-color($main-color, 0.9);
    $card-text-color: adjust-color($main-color, -0.5);

    border: 1px solid $card-border-color;
    background: $card-bg-color;

    .card-presentation-link__text {
        color: $card-text-color;
    }
}

.card-presentation-link__container {
    max-width: 30%;
    min-width: 30%;
    display: flex;
    padding: 2rem 0;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

    // Par défaut, utiliser la couleur principale définie ici
    @include card-styles(#CA84F5);

    &.dynamic-color {
        border: 1px solid var(--card-border-color);
        background: var(--card-bg-color);

        .card-presentation-link__text {
            color: var(--card-text-color);
        }
    }
}

.card-presentation-link__text {
    display: flex;
    height: 84px;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    text-align: center;
    font-family: Marianne, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
}