@import "@/src/styles/variables.scss";

.fiche {
  width: 50em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 24px;
  border: 1px solid #de7899;
  background: var(--White, #fff);
  padding: 48px;
  margin: 2em auto;

  &-top {
    width: 100%;

    & > p {
      color: #ab214e;
      font-family: Arial;
    }

    h2 {
      color: #ab214e;
      font-family: Chewy;
      font-style: normal;
      margin-top: 1em;
    }

    hr {
      all: unset;
      display: block;
      height: 1px;
      background: var(--light-background-disabled-grey, #e5e5e5);
      margin: 24px 0;
    }

    &__information {
      display: flex;
      justify-content: space-between;

      &-left {
        display: flex;
        flex-direction: column;
        width: 25%;

        .badge {
          color: #ab214e;
          background: #fde3ec;
          width: 100%;
          height: 3e.5m;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .difficulte {
          display: flex;
          align-items: center;
          color: #ab214e;
          font-family: Marianne;
          font-size: 18px;
          font-style: normal;
          margin-top: 1em;
        }
      }

      &-center {
        width: 40%;

        p {
          display: flex;
          font-size: $font-size-text;
          margin-bottom: 1em;

          img {
            margin-right: 5px;
          }

          span {
            color: #ab214e;
            font-family: Marianne;
            font-weight: 700;
          }
        }
      }

      &-right {
        width: 25%;
        display: flex;
        flex-direction: column;

        p {
          color: var(--text-default-grey, #3a3a3a);
          font-size: $font-size-text;
          font-weight: $font-weight-bold;
        }

        li {
          font-size: $font-size-text;
        }
      }
    }
  }

  &-middle {
    display: flex;
    flex-direction: column;

    h2 {
      color: #ab214e;
      font-family: Marianne;
      font-weight: $font-weight-bold;
      line-height: 24px;
      margin-top: 0.5em;
    }

    p {
      color: var(--text-default-grey, #3a3a3a);
      font-family: Marianne;
      margin-bottom: 0.5em;
    }
  }

  &-footer {
    margin: auto;

    button {
      width: 50em;
      display: inline-flex;
      border-radius: 11px;
      background: #4d1c6b;
      color: white;
      &:hover {
        background: #9a52c7;
      }
    }
  }
}
