.filtre-container {
  display: flex;
  gap: 10px;
  margin: 10px;
}

.filter-group {}

.filtre-group select {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  display: flex;
  padding: 11px 18px 11px 24px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 101.683px;
  background: #AB214E;
  color: #FDE3EC;
  font-family: Marianne;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24.568px;
  /* 153.548% */
}