.HelpIcon {
    
    display: flex;
    padding: 6.691px 13.382px 6.691px 10.036px;
    justify-content: center;
    align-items: center;
    gap: 6.691px;
    align-self: stretch;
    background-color: #4D1C6B;
    border-radius: 8.364px;
    color: #fff;
    font-family: 'Marianne';
    margin-left: 30px;
}