$color-primary: #4D1C6B;
$color-secondary: #000091;
$color-grey: #3A3A3A;
$color-light-grey: #DDD;
$color-disabled: #352b3b;
$color-background-light: #F5F5FE;
$color-hover: rgb(219, 219, 219);
$color-text-light: var(--light-text-mention-grey, #666);
$color-text-title-grey: var(--light-text-title-grey, #161616);

$font-family-primary: 'Marianne', sans-serif;
$font-size-large: 32px;
$font-size-medium: 20px;
$font-size-small: 14px;
$font-size-xsmall: 12px;
$font-weight-bold: 700;
$font-weight-regular: 400;

$margin-large: 48px;
$margin-medium: 24px;
$margin-small: 5%;

$border-radius-small: 10px;
$border-radius-medium: 8px;
$border-radius-large: 12px;


@mixin font-style($size, $weight, $color) {
    font-family: $font-family-primary;
    font-size: $size;
    font-weight: $weight;
    color: $color;
  }
  
  @mixin button-style($bg-color, $text-color) {
    background: $bg-color;
    color: $text-color;
    padding: 8px 16px;
    border: 0;
    border-radius: $border-radius-small;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
  }
  
  @mixin radio-style {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    font-size: 16px;
    user-select: none;
  
    input[type="radio"] {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;
    }
  
    label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 20px;
      width: 20px;
      background-color: white;
      border: 2px solid #ddd;
      border-radius: 50%;
    }
  
    input[type="radio"]:checked~label:before {
      border-color: $color-primary;
    }
  
    input[type="radio"]:checked~label:after {
      content: '';
      position: absolute;
      top: 5px;
      left: 5px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $color-primary;
    }
  }
  

.globalContainer {
  max-width: 100vw;
  max-height: 100vh;
  margin: 5% 0;
  font-family: $font-family-primary;

  main {
    display: flex;
    flex-direction: column;

    .mainContainer {
      display: flex;
      width: 100%;
      height: 100%;

      &Left {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;

        h1 {
          color: $color-primary;
          margin-bottom: $margin-small;
          font-size: $font-size-medium;
          border-bottom: 2px solid $color-primary;
        }

        p {
          color: $color-text-title-grey;
          font-weight: $font-weight-bold;
          font-size: 22px;
        }
      }

      &Image {
        height: 100%;
        width: 50%;
      }

      &Option {
        height: 100%;
        width: 50%;

        p {
          color: $color-grey;
          font-size: $font-size-small;
          font-weight: $font-weight-regular;
        }

        .nbPersonnes {
          color: $color-text-light;
          font-size: $font-size-xsmall;
          font-style: italic;
          font-weight: $font-weight-regular;
          margin-bottom: $margin-medium;
        }

        .nbParticipant {
          display: flex;
          padding: 8px 12px;
          align-items: center;
          gap: 8px;
          align-self: stretch;
          border-radius: $border-radius-medium;
          border: 1px solid $color-light-grey;
          background: white;
          box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
          width: 100%;
        }

        hr {
          all: unset;
          display: block;
          height: 1px;
          background-color: $color-light-grey;
          margin-bottom: $margin-medium;
        }

        h2 {
          font-size: $font-size-medium;
          margin: 0;
        }

        .buttonContainer {
          display: flex;
          align-items: center;

          .buttonNext {
            @include button-style($color-primary, white);
            width: 100%;

            &:hover {
              background: darken($color-primary, 10%);
            }

            &-disabled {
              background: $color-disabled;
              cursor: not-allowed;

              &:hover {
                background: $color-disabled;
              }
            }
          }

          .buttonBack {
            @include button-style(white, $color-primary);
            width: 30%;

            &:hover {
              background: $color-hover;
            }
          }
        }

        .radioGroup {
          .radioItem {
            @include radio-style;
          }

          .radioGroupTxt {
            color: $color-text-title-grey;
            font-size: $font-size-medium;
            margin-bottom: $margin-medium;
          }
        }
      }
    }
  }
}

.hiddenFieldset {
  visibility: hidden;

  legend {
    visibility: hidden;
  }

  * {
    visibility: visible;
  }
}
