@use "@/src/styles/variables.scss" as *;

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-primary;
  font-size: $font-size-small;
  font-weight: normal;
  font-style: normal;
  color: $color-black;
}

img {
  margin-right: $img-margin-right;
}

h2 {
  color: $color-black;
  font-family: $font-family-primary;
  font-size: $font-size-title;
  font-style: normal;
  font-weight: $font-weight-bold;
  line-height: normal;
}

p {
  color: $color-black;
  font-size: $font-size-text;
  font-style: normal;
  line-height: normal;
}
