@font-face {
  font-family: "Chewy";
  src: url("../../../public/app/Font/Chewy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.breadcrumb-container {
  margin-left: 5%;
}

.globalContainer {
  margin: 5% 10% 5% 10%;

  .page-title {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      margin-bottom: 1em;
    }

    h1 {
      color: #ab214e;
    }
  }

  .filter-title {
    color: var(--light-text-mention-grey, #666);
    font-family: Marianne;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 21.09px;
  }

  .search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    input {
      height: 50%;
      padding: 6px 12px;
      gap: 7px;
      border-top: 0px;
      border-right: 0px;
      border-bottom: 2px solid #000091;
      border-left: 0px;
      background: #f5f5fe;
      color: #000091;
    }
  }

  .main-container-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
