.globalContainer {
    font-family: marianne !important;
    max-width: 100vw;
    max-height: 100vh;
    margin: 5% 0%;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100px;

        &__logo {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        &__button {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .buttonHome {
                height: 20px;
                width: 20px;
                background-color: #F1EEF3;
            }

            .buttonFaq {
                height: 20px;
                width: 100%;
                font-size: 1rem;
                background-color: #AC224F;
                margin-left: 10px;
            }
        }
    }

    main {
        display: flex;
        flex-direction: column;

        h1 {
            color: #4D1C6B;
            margin-bottom: 5%;
            font-size: 20px;
            text-decoration: underline;
            border-bottom: 2px #4D1C6B;
            margin-bottom: 0;
            text-align: inherit;
        }

        .main__container {
            width: 100%;
            height: 100%;
            display: flex;

            &__left {
                width: 50%;
            }

            &__image {
                height: 100%;
                width: 50%;
            }

            &__option {
                height: 100%;
                width: 50%;

                p {
                    color: var(--light-text-default-grey, #3A3A3A);
                    font-family: Marianne;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                }

                hr {
                    height: 1px;
                    opacity: 10%;
                    margin: 20px 0 20px 0;
                    width: 82%;
                }

                .nextStepText {
                    color: var(--light-text-mention-grey, #666);
                    font-family: Marianne;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 20px;

                    span {
                        color: var(--light-text-mention-grey, #666);
                        font-family: Marianne;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                    }
                }

                .txt_explication {
                    color: #4D1C6B;
                    font-family: Marianne;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    margin-bottom: 12px;
                }

                .inclusion {
                    color: var(--light-text-title-grey, #161616);
                    font-family: Marianne;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    margin-bottom: 12px;
                }

                .temps_inclusion {
                    color: #4D1C6B;
                    font-family: Marianne;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    margin-bottom: 12px;

                    span {
                        text-decoration: underline;
                    }

                }

                fieldset {
                    visibility: hidden;

                    legend {
                        visibility: hidden;
                    }
                }

                fieldset * {
                    visibility: visible;
                }

                p {
                    color: #3A3A3A;
                    margin-bottom: 1%;
                }

                #temps_reunion {
                    margin: 20px 0 20px 0;
                    display: flex;
                    padding: 8px 16px 8px 12px;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    flex: 1 0 0;
                    align-self: stretch;
                    border-radius: 10px;
                    border: 1px solid #4D1C6B;
                }

                .levelBar {
                    margin-bottom: 1%;
                }

                .radioGroup,
                .checkboxGroup {
                    display: flex;
                    flex-wrap: wrap;

                    .radioItem,
                    .checkboxItem {
                        position: relative;
                        /* padding-left: 35px; */
                        margin-bottom: 12px;
                        cursor: pointer;
                        font-size: 16px;
                        user-select: none;
                        flex: 1 1 50%;
                        max-width: 60%;
                    }

                    input[type="radio"],
                    input[type="checkbox"] {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                    }

                    label {
                        position: relative;
                        padding-left: 35px;
                        cursor: pointer;
                    }

                    label:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 20px;
                        width: 20px;
                        background-color: white;
                        border: 2px solid #ddd;
                        border-radius: 50%;
                        /* Pour les boutons radio */
                    }

                    input[type="radio"]:checked+label:before {
                        border: 2px solid #4D1C6B;
                    }

                    input[type="radio"]:checked+label:after {
                        content: '';
                        position: absolute;
                        top: 5px;
                        left: 5px;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background: #4D1C6B;
                    }

                    input[type="checkbox"]+label:before {
                        border-radius: 4px;
                        /* Pour les cases à cocher */
                    }

                    input[type="checkbox"]:checked+label:before {
                        background-color: #4D1C6B;
                        border-color: #4D1C6B;
                    }

                    input[type="checkbox"]:checked+label:after {
                        content: '✓';
                        position: absolute;
                        top: -2px;
                        left: 5px;
                        color: white;
                        font-size: 16px;
                    }
                }


                .buttonContainer {
                    display: flex;

                    .buttonNext {
                        @extend .buttonContainer;
                        min-width: 77% !important;
                        color: white;
                        background: #4D1C6B;
                        margin: 0;
                        border: 0px;
                        border-radius: 10px;

                        &:hover {
                            background: #311144;
                        }

                        &-disabled {
                            background: #352b3b;
                            cursor: not-allowed;

                            &:hover {
                                background: #352b3b;
                            }
                        }
                    }

                    a {
                        width: 30% !important;
                    }

                    .buttonBack {
                        @extend .buttonContainer;
                        justify-content: center;
                        align-items: center;
                        min-width: 25% !important;
                        color: #4D1C6B;
                        background: white;
                        margin: 0;

                        &:hover {
                            background: rgb(219, 219, 219);
                        }
                    }
                }
            }
        }
    }
}