@import "@/src/styles/variables.scss";
@import "@/src/styles/mixins.scss";

.faq {
  margin: $margin-medium 0;

  h2 {
    color: $color-primary;
  }

  h4 {
    color: $color-secondary;
    margin-top: 1em;
  }

  &__section {
    @include section-spacing($margin-large);
    padding: 5% 10%;

    &--alt {
      background: $color-background-alt;
    }

    &--highlight {
      background: $color-background-highlight;
    }
  }

  &__button {
    @include button-style($color-secondary, white);
  }
}
