.Previous {
display: flex;
padding: 8px 16px 8px 12px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 10px;
background: #F1EEF3;
color: #4D1C6B;
border: none;
font-family: Marianne;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;


}

.Validate {


    display: flex;
    padding: 8px 16px 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    background: #F1EEF3;
    color: #4D1C6B;
    }