@import "@/src/styles/variables.scss";

.container {
  font-family: marianne !important;
  /* max-width: 100vw; */
  margin: 0.5em 0;
  height: 100%;

  main {
    h1 {
      display: flex;
      align-items: center;
      color: var(--text-action-high-blue-france);
      font-size: $font-size-title;
      font-weight: $font-weight-bold;
    }

    .main-container-card {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 5px;
    }
  }
}
