@use "@/src/styles/variables.scss" as *;

.container {
  width: 100%;

  .header {
    display: flex;
    flex-direction: row;
    background-color: var(--background-alt-blue-france);

    &-left {
      width: 60%;

      &__page_title {
        color: var(--text-label-blue-france);
      }

      &__informations {
        display: flex;
        flex-direction: row;
        margin-left: 0.5em;

        .tag {
          background-color: var(--background-default-grey);
          color: var(--text-label-blue-france);
          margin-right: 1em;
        }
      }

      &__deroule_description {
        margin-top: 1.25em;
      }
    }

    &-right {
      width: 40%;
      color: var(--text-label-blue-france);
      display: flex;
      margin: auto 0 auto 2em;

      p {
        color: var(--text-label-blue-france);
      }
    }
  }

  h4 {
    color: $color-secondary;
    margin-right: 0.5em;
  }

  .page-title {
    color: $color-secondary;
  }

  .presentation {
    display: flex;
    width: 100%;
    justify-content: space-between;

    &-left {
      display: flex;
      flex-direction: column;
      width: 45%;
      overflow-wrap: break-word;

      &__deroule-type {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        color: #000091;
        font-family: Arial;

        img {
          margin-right: 5px;
        }
      }

      ul {
        margin: 0 0 24px 0;

        li {
          color: #000091;
        }
      }
    }

    &-right {
      width: 50%;
      display: flex;
      flex-direction: column;
      color: #000091;

      &-modalite {
        display: flex;
        flex-direction: row;

        p {
          margin-right: 2em;
        }

        img {
          margin-right: 0.5em;
        }
      }
    }
  }

  hr {
    all: unset;
    display: block;
    width: 100%;
    height: 2px;
    background: var(--light-background-disabled-grey, #e5e5e5);
    margin: 24px 0;
  }

  .deroule {
    width: 100%;

    &-inclusion,
    &-corps,
    &-cloture {
      width: 100%;
      display: flex;
      flex-direction: column;

      &-title {
        display: flex;
        flex-direction: row;
        align-items: center;

        &__barre {
          padding-bottom: 1em;
        }

        &__time {
          color: #000091;
          margin-left: 0.5em;
        }
      }

      .pause {
        display: flex;
        padding: 24px;
        justify-content: center;
        align-items: center;
        gap: 24px;
        align-self: stretch;
        border-radius: 10px;
        background: #000091;
        margin-bottom: 24px;

        p:first-of-type {
          display: flex;
          justify-content: center;
          color: var(--White, #fff);
          font-family: Chewy;
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 0;
        }

        p:last-of-type {
          display: flex;
          justify-content: center;
          color: var(--White, #fff);
          font-family: Marianne;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 21.746px;
          margin: 0;

          img {
            margin-right: 5px;
          }
        }
      }
    }
  }

  .telechargement {
    width: 100%;
    margin: 24px 0;
    display: flex;
    justify-content: space-between;

    &-left {
      width: 65%;

      &-top {
        display: flex;
        justify-content: space-between;

        .telechargement-left-top__download {
          display: flex;
          padding: 9.132px 27.397px;
          justify-content: center;
          align-items: center;
          width: 70%;
          align-self: stretch;
          border-radius: 11.416px;
          background: #000091;
          box-shadow: 0px 1.142px 2.283px 0px rgba(16, 24, 40, 0.05);
          color: #fff;
          font-family: Marianne;
          font-style: normal;
          font-weight: 500;
          line-height: 27.397px;
          margin-right: 10px;
        }

        &__description {
          p {
            color: #000091;
            font-family: Marianne;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }

          ul {
            width: 100%;

            li {
              color: #000091;
              font-family: Marianne;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }
      }
    }

    &-right {
      width: 25%;

      &-card {
        display: flex;
        padding: 24px 32px;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        flex: 1 0 0;
        border-radius: 10px;
        border: 1px solid #de7899;
        background: var(--White, #fff);
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

        p {
          color: #ab214e;
          text-align: center;
          font-family: Marianne;
          font-size: 22px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
        }

        button {
          display: flex;
          padding: 8px 16px;
          align-items: center;
          gap: 8px;
          border-radius: 8px;
          background: #ab214e;
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
          color: #fff;
          font-family: Marianne;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 160%;
        }
      }
    }
  }
}
