.button-generator {
    border-radius: 8px;
    background: #4D1C6B;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }
  
  .button-unfolding {
    border-radius: 8px;
    background: #000091;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }
  
  .button-library {
    border-radius: 8px;
    background: #AB214E;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }