// Variables
$color-primary: #4D1C6B;
$color-secondary: #000091;
$color-grey: #3A3A3A;
$color-disabled: #352b3b;
$color-background-light: #F5F5FE;
$color-hover: rgb(219, 219, 219);

$font-family-primary: 'Marianne', sans-serif;
$font-size-large: 32px;
$font-size-medium: 20px;
$font-size-small: 14px;
$font-weight-bold: 700;
$font-weight-regular: 400;

$margin-large: 48px;
$margin-medium: 24px;
$margin-small: 5%;

$border-radius-small: 10px;
$border-radius-medium: 8px;


// Mixins
@mixin font-style($size, $weight, $color) {
    font-family: $font-family-primary;
    font-size: $size;
    font-weight: $weight;
    color: $color;
  }
  
  @mixin button-style($bg-color, $text-color) {
    background: $bg-color;
    color: $text-color;
    padding: 8px 16px;
    border: 0;
    border-radius: $border-radius-small;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
  }
  
  @mixin radio-style {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    font-size: 16px;
    user-select: none;
  
    input[type="radio"] {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;
    }
  
    label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 20px;
      width: 20px;
      background-color: white;
      border: 2px solid #ddd;
      border-radius: 50%;
    }
  
    input[type="radio"]:checked~label:before {
      border-color: $color-primary;
    }
  
    input[type="radio"]:checked~label:after {
      content: '';
      position: absolute;
      top: 5px;
      left: 5px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $color-primary;
    }
  }
  

  .globalContainer {
    font-family: $font-family-primary !important;
    max-width: 100vw;
    max-height: 100vh;
    margin: $margin-small 0;
  
    main {
      display: flex;
      flex-direction: column;
  
      .main__container {
        width: 100%;
        height: 100%;
        display: flex;
  
        &__left {
          display: flex;
          justify-content: center;
          flex-direction: column;
          width: 50%;
  
          h1 {
            @include font-style($font-size-medium, $font-weight-bold, $color-primary);
            margin-bottom: $margin-small;
            border-bottom: 2px solid $color-primary;
          }
  
          p {
            @include font-style($font-size-medium, $font-weight-bold, $color-grey);
          }
        }
  
        &__image {
          height: 100%;
          width: 50%;
        }
  
        &__option {
          height: 100%;
          width: 50%;
  
          p {
            @include font-style($font-size-small, $font-weight-regular, $color-grey);
          }
  
          fieldset {
            visibility: hidden;
  
            legend {
              visibility: hidden;
            }
  
            * {
              visibility: visible;
            }
          }
  
          h2 {
            @include font-style($font-size-medium, $font-weight-regular, $color-grey);
            margin: 0;
          }
  
          .levelBar {
            margin-bottom: $margin-medium;
          }
  
          .buttonContainer {
            display: flex;
            align-items: center;
  
            .buttonNext {
              @include button-style($color-primary, white);
              min-width: 77%;
              margin: 0;
              max-width: 300%;
              width: 300%;
              border-radius: $border-radius-small;
  
              &:hover {
                background: darken($color-primary, 10%);
              }
  
              &-disabled {
                background: $color-disabled;
                cursor: not-allowed;
  
                &:hover {
                  background: $color-disabled;
                }
              }
            }
  
            .buttonBack {
              @include button-style(white, $color-primary);
              min-width: 25%;
              margin: 0;
  
              &:hover {
                background: $color-hover;
              }
            }
          }
        }
      }
    }
  }
  
  /* RADIO BUTTON */
  
  .radio-group {
    .radio-item {
      @include radio-style;
    }
  }