@font-face {
  font-family: "Chewy";
  src: url("/app/Font/Chewy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.card-container {
  padding: 1.5em;
  margin-bottom: 12px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #979797;
  width: 16em;
  height: 20em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  h3 {
    height: 20%;
    font-family: Chewy;
    color: #ab214e;
    overflow-wrap: break-word;
  }

  &__objectif {
    height: 10%;
    text-align: center;
    border-radius: 4px;
    background: #fde3ec;
    color: #ab214e;
    font-size: 14px;
    text-transform: uppercase;
  }

  &__text {
    height: 60%;
    font-family: Marianne;
    font-size: 14px;
    color: #000;
    line-height: 18px;
  }

  .card-container-information {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__time,
    &__difficulty {
      display: flex;
      align-items: center;
      color: #ab214e;
      font-family: Marianne;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 21.746px;
    }
  }
}
