.card_deroule_type {
    width: calc(50% - 5px);
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #F5F5FE;
    border-radius: 10px;
    padding: 24px;
    margin-bottom: 24px;


    .title {
        color: var(--Black, #000);
        font-family: Marianne;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 24px;
    }

    .container_information_top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;

        .temps,
        .format,
        .nombre_personne {
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--Black, #000);
            font-family: Marianne;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 21.746px;
           
           p{
            margin: 0;
           }
           img{
            height: 20px;
            margin-right: 5px;
           }
        }

    }

    .description {
        color: var(--Black, #000);
        font-family: Marianne;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-top: 24px;
    }

    .container_button {
        display: flex;
        justify-content: flex-end;

        button {
            display: flex;
            padding: 8px 16px;
            align-items: center;
            gap: 8px;
            border-radius: 8px;
            background: #000091;
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            color: var(--Colors-Content-content-invert, #FFF);
            font-family: Marianne;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 160%;
            &:hover{
                background: #2525c7;
            }
        }
    }
}