body {
    margin: 0;
}

h1,
h3 {
    font-family: 'Marianne';
    color: #4D1C6B;
    text-align: center;

}

h3 {
    font-family: 'Marianne';
    color: #4D1C6B;
}




.login-page {

    margin: 20px;
    padding: 20px;

    .button-primary {
        width: 20% !important;
    }

}

.section-container {
    display: flex;

    .right-section {
        display: flex;
        justify-content: center;
        width: 50%;

        input {
            fill: #F1EEF3;
            opacity: 0.5;
            box-shadow: 0px 1px 2.7px 0px rgba(0, 0, 0, 0.25) inset;
            background: #F1EEF3;
            border-radius: 10px;
        }
    }

    .left-section {
        display: flex;
        justify-content: center;
        width: 50%;
    }

}


form {

    margin-top: 20px;
}

label {

    font-family: Marianne;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.log {

    width: 560px;
    height: 54px;
    fill: #F7F6F8;
    opacity: 0.5;
}


.mdp {

    color: #38144D;
    text-align: right;
    font-family: Nunito;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}